.App-header {
    font: 'Raleway', sans-serif;
    font-size: 75px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    margin-bottom: 25px;
}
